@charset "utf-8";
/* CSS Document */

@charset "utf-8";
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", Verdana, Geneva, sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

a, body, div, h1, h2, h3, h4, h5, li, p, ul {
    line-height: 1;
    box-sizing: border-box;
}

p {
    letter-spacing: 1px;
    font-weight: 400;
    line-height: normal;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

footer {
    display: none;
}

caption, td, th {
    text-align: left;
    font-weight: 400;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
}

blockquote, q {
    quotes: """";
}

* {
    -webkit-text-size-adjust: none;
}

/* css reset //END */

body {
    background: #11131a;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 20px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/images/BG.jpg);
    background-position: center;
    /* background-color: #c4c2ba; */
    /* border: 15px #5b5e5f solid; */
}

.taipei_map {
    width: 46%;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3%;
}

.logo img {
    width: 325px;
    height: 145px;
}

.text {
    display: block;
    position: absolute;
    top: 22%;
    left: 5%;
    padding: 3%;
}

h3 {
    display: block;
    color: #d0d5d6;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 15px;
}

h2 {
    display: block;
    color: #d0d5d6;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 15px;
    margin: 5px 0 13px 0;
}

span {
    display: block;
    color: #11131a;
    font-size: 25px;
    padding: 15px 0 15px 0;
}

i {
    color: #d0d5d6;
}

.taipei_inner {
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: 50%; */
}

.map_01 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 50%; */
}

.area {
    fill: #ffffff;
}

.area:hover {
    fill: #58ebf1;
    stroke: #fff;
    stroke-width: 2px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
}

.default {
    fill: #58ebf1;
    stroke: #fff;
    stroke-width: 2px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
}

.M4053 {
    fill: #58c9ce;
    cursor: pointer;
}

.M2630 {
    fill: #175254;
    cursor: pointer;
}

.M2320 {
    fill: #58c9ce;
    cursor: pointer;
}

.M3226 {
    fill: #428c90;
    cursor: pointer;
}

.M1261 {
    fill: #3a9498;
    cursor: pointer;
}

.M3623 {
    fill: #58c9ce;
    cursor: pointer;
}

.M2762 {
    fill: #7bb6b9;
    cursor: pointer;
}

.M2340 {
    fill: #58c9ce;
    cursor: pointer;
}

.M1663 {
    fill: #78aeb0;
    cursor: pointer;
}

.M3417 {
    fill: #2b6a6d;
    cursor: pointer;
}

.M2110 {
    fill: #4d999c;
    cursor: pointer;
}

.M1581 {
    fill: #58c9ce;
    cursor: pointer;
}

g text {
    font-size: 10em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: semi-condensed;
    text-align: center;
    line-height: 89.99999762%;
    writing-mode: lr-tb;
    text-anchor: middle;
    fill: #FFFFFF;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
    font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", Verdana, Geneva, sans-serif;
    cursor: pointer;
    pointer-events: none;
}

/* g .svgLocation {
    font-size: 12em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: semi-condensed;
    text-align: center;
    line-height: 90%;
    writing-mode: lr-tb;
    text-anchor: middle;
    fill: #FFFFFF;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
    font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", Verdana, Geneva, sans-serif;
} */

.follow {
    display: none;
    position: absolute;
    width: 200px;
    margin: -15px 0 0 -15px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    line-height: 1.8;
    font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", Verdana, Geneva, sans-serif;
    border-radius: 5px;
}

.follow img{
    padding-right: 3px;
}

.chartTitle {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 61%;
    top: 54%;
}

#chart2 {
    position: absolute;
    top: 58%;
    left: 61%;
}

#chart1 {
    position: absolute;
    top: 6%;
    left: 61%;
}

#pie1 {
    position: absolute;
    top: 60%;
    left: 8%;
}

progress {
    display: inline-block;
    /* default: inline-block */
    width: 200px;
    padding: 4px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}